body{
    background-image: url("../img/linux_penguin_picture_sofa_red_eye_30959_1366x768.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
}
.main-wrapper{
    max-width: 960px;
    margin: 0 auto;

}
.main-background{
    max-width: 960px;
    background: black;
    opacity: 0.9;
    height: 100vh;
    position: relative;
    text-align: center;
   

}
.launch-screen{
   
}
.hidden{
    display: none;
}
.buttons-container{
    max-width: 960px;
    margin: 0 auto;
    background: red;
    padding: 10px;
    position: relative;
    
}
.buttons-container::after{
    display: block;
    content: " ";
    clear: both;

    
}
.soundOnOffButton{
    background: transparent;
    border: none;
    outline: none;
 float: right;
 clear: both;
}
.volume-icon{
color: black;
font-size: 20px;
}
.title-container{
    font-size: 20px;
    max-width: 100%;
   color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);  
    font-family: 'Bahianita', cursive;
    animation: titleFadeIn 3s;
   
}
/*--WINNER AND LOSER--*/
.score{
    max-width: 200px;
    margin: 0 auto;
    background: black;
    padding: 10px;
    border-radius: 10px;
    display: none;
}
.score::after{
    display: block;
    content: " ";
    clear: both;

    
}
.winner{
    color: yellowgreen;
   display: inline;
   float: left;
   
}
.loser{
    color: red;
    display: inline;
    float: right;
  
}
/*--BUTTON--*/

.btn{
    width: 200px;
    padding: 20px;
    opacity: 5;
    outline: none;
    border-radius: 100px;
    border: none;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    animation: btn-launch-screen-fadeOut 10s;
  }
 

.btn-launch-screen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Bahianita', cursive;
    font-size: 30px;
}
.btn:hover{
    
   
    box-shadow: 5px 5px 10px brown;
}
.btn:active{

}
.btn-red{
    background: red;
}

/*---AMIAMTE BUTTON--*/

@keyframes btn-launch-screen-fadeOut{
0%{
    padding-right: 0;
    padding-left: 0;
    opacity: 0;
    
    
}

100%{
    padding-right: 20;
    padding-left: 20;
    opacity: 1;
   
   
}

}
/*---AMIAMTE TITLE--*/
@keyframes titleFadeIn{
    0%{
        transform: translateY(-200px);
        opacity: 0;
        
    }
    
    100%{
       opacity: 1;
       color: red;
       font-size: 20px;
       
    }
    
    }

  /*---CATEGORIES CONTAINER---*/
  .categories-container{
      max-width: 500px;
      margin: 0 auto;
      background: red;
      padding: 20px;
      position: absolute;
      border-radius: 10px;
      border: 4px solid white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%); 

  }

  .category{
      display: block;
      margin-top: 10px;
      width: 200px;
      padding: 20px;
      background: black;
      color: red;
      letter-spacing: 3px;
      text-transform: uppercase;
      border: 2px solid white;
      border-radius: 100px;
      outline: none;


  }
  .category:hover{
      color: white;
  }
/*---PLAY CONTAINER---*/
.question-container{
    max-width: 500px;
    margin: 0 auto;
    background: black;
    padding: 10px;
    position: absolute;
    border-radius: 10px;
    border: 4px solid white;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  color: white;
}
  .play-container{
    max-width: 500px;
    margin: 0 auto;
    background: red;
    padding: 20px;
    position: absolute;
    border-radius: 10px;
    border: 4px solid white;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  }
  .options-div{
    display: block;
    margin-top: 10px;
    width: 400px;
    padding: 30px;
    background: black;
    color: red;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 100px;
    outline: none;
  }

  /*---CORRECT CONTAINER---*/
.correct-container{
    max-width: 500px;
    margin: 0 auto;
    background: black;
    padding: 10px;
    position: absolute;
    border-radius: 10px;
    border: 4px solid yellowgreen;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  color: yellowgreen;
  box-shadow: 10px 10px 100px greenyellow;
}

 /*---WRONG CONTAINER---*/
 .wrong-container{
    max-width: 500px;
    margin: 0 auto;
    background: black;
    padding: 10px;
    position: absolute;
    border-radius: 10px;
    border: 4px solid red;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  color:red;
  box-shadow: 10px 10px 100px red;
}